[user]
        name = Lucas Walter
        email = me@lnwalter.com
        signingkey = 2F66315FE5CD3D11947482852858237D58EE53D2
[core]
        editor = nvim
[branch]
        autosetuprebase = always
[pull]
        rebase = preserve
[init]
        defaultBranch = main
[commit]
        gpgsign = true
