[Desktop Entry]
Categories=GNOME;System;Filesystem;
Comment=Create, reorganize, and delete partitions
Exec=/usr/bin/gparted %f
GenericName=Partition Editor
Icon=gparted
Keywords=Partition;
Name=GParted
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-GNOME-FullName=GParted Partition Editor
X-KDE-SubstituteUID=false
X-KDE-Username=
